{% extends "base.html" %}


{% block header %}
    <div class="welcome">
        <h1>Welcome to EgyTech</h1>
        <p>qoute placeholder</p>
    </div>
{% endblock header %}

{% block content %}
    <div class="summary">
        <img src="" alt="logo">
        <h1>Welcome to EgyTech</h1>
        <p>EgyTech is a software company that provides services and develop products</p>
    </div>


    <div class="services">
        <h1>Services We Provide</h1>
        <div class="cards">
            <ul>
                <li>
                    <h2>Service Name</h2>
                    <p>Service Description</p>
                </li>
                <li>
                    <h2>Service Name</h2>
                    <p>Service Description</p>
                </li>
                <li>
                    <h2>Service Name</h2>
                    <p>Service Description</p>
                </li>
                <li>
                    <h2>Service Name</h2>
                    <p>Service Description</p>
                </li>
                <li>
                    <h2>Service Name</h2>
                    <p>Service Description</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="team">
        <h1>Our Management/Products/Projects</h1>
        <div class="cards">
            <div class="card">
            <img src="" alt="img placeholder">
            <p>Eng. Amr</p>
            </div>
            <div class="card">
                <img src="" alt="img placeholder">
                <p>Eng. Alaa</p>
            </div>
            <div class="card">
                <img src="" alt="img placeholder">
                <p>Eng. Hamdy</p>
            </div>
        </div>
    </div>
{% endblock content %}
